@{
    ViewData["Title"] = "Home Page";
}


<a href="whatsapp://send?phone=27768103643">
    
<button class="popApp" type="submit">

    <img src="~/images/apps.png"  alt="app" />
</button>
</a>

    
   

    
<div id="top" class="starter_container bg" style="height: 100vh;">
    <div class="follow_container">
        <div class="col-md-6 col-md-offset-3 wow slideInUp" data-wow-duration="1.45s" data-wow-delay="0.3s">
            <h2 class="top-title"> Sibahlenkosini</h2>
            <h2 class="white second-title">" We grow by caring "</h2>
            <hr>
        </div>
    </div>
</div>

<!-- ============ About Us ============= -->

<section id="story" class="description_content">
    <div class="text-content container">
        <div class="col-md-6 wow slideInLeft" data-wow-duration="1.0s" data-wow-delay="0.3s">
            <h1>About us</h1>
            <div class="fa fa-cutlery fa-2x"></div>
            <p class="desc-text">Sibahlenkosini is a Decor, Catering and Transportation company founded in 2006. We offer professional services towards the success of your event. </p>
        </div>
        <div class="col-md-6 wow slideInRight" data-wow-duration="1.0s" data-wow-delay="0.5s">
            <div class="img-section ">
                <img src="images/cat1.jpg" width="250" height="220">
                <img src="images/cat2.jpg" width="250" height="220">
                <div class="img-section-space"></div>
                <img src="images/product2.jpg" width="250" height="220">
                <img src="images/product3.jpg" width="250" height="220">
            </div>
        </div>
    </div>
</section>




<section  class="description_content">
   
    <div class="text-content container">
        <div class="col-md-6 wow slideInRight" data-wow-duration="1.0s" data-wow-delay="0.4s">
            <h1 >Meet our Best Team!</h1>
            <div class="icon-cake fa-2x" style=""></div>
            <p class="desc-text"> We Present to you the team that pursues the dreams of our happy customers into reality. Our hard law is to always stay happy.</p>
            <div class="contaimer" style="margin-top: 20px;">
                <div class="row">
                    <br />
                    <div class="col-lg-6 col-sm-6">
                        <h2 style="color: blue;">15+</h2>
                        <br />
                        <p>Professional Team</p>

                    </div>
                    <br />
                    <div class="col-lg-6 col-sm-6 hc">
                        <h2 style="color: blue;">1570+</h2>
                        <br />
                        <p>Happy Clients</p>

                    </div>


                </div>
                    
            </div>

        </div>
        <div class="col-md-6 wow slideInLeft" style="margin-top: 15px;" data-wow-duration="1.0s" data-wow-delay="0.4s">
            <ul class="image_box_story2">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="4"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="5"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="6"></li>
                        
                        
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active it">
                            <img src="images/t1.jpg"  alt="...">
                            <div class="carousel-caption">
                                <h3>Sibahlenkosini</h3>
                            </div>
                        </div>
                        <div class="item it">
                            <img src="images/t2.jpg"  alt="...">
                            <div class="carousel-caption">
                                <h3>Sibahlenkosini</h3>
                            </div>
                        </div>

                        <div class="item it">
                            <img src="images/t3.jpg"  alt="...">
                            <div class="carousel-caption">
                                <h3>Sibahlenkosini</h3>
                            </div>
                        </div>
                        <div class="item it">
                            <img src="images/t4.jpg"  alt="...">
                            <div class="carousel-caption">
                                <h3>Sibahlenkosini</h3>
                            </div>
                        </div>
                        <div class="item it">
                            <img src="images/t5.jpg"  alt="...">
                            <div class="carousel-caption">
                                <h3>Sibahlenkosini</h3>
                            </div>
                        </div>
                        <div class="item it">
                            <img src="images/t6.jpg"  alt="...">
                            <div class="carousel-caption">
                                <h3>Sibahlenkosini</h3>
                            </div>
                        </div>
                        <div class="item it">
                            <img src="images/t7.jpg"  alt="...">
                            <div class="carousel-caption">
                                <h3>Sibahlenkosini</h3>
                            </div>
                        </div>
                        

                    </div>
                </div>
            </ul>
        </div>
    </div>
</section>



<!-- ============ Pricing  ============= -->


<section id="pricing" class="description_content">
    <div class="pricing background_content">
        <h1 class=" wow slideInLeft" data-wow-duration="1.0s" data-wow-delay="0.1s"><span>Premium</span> Decor</h1>
    </div>
    <div class="text-content container">
        <div class="container">
            <div class="row">
                <div id="w">
                    <ul id="filter-list" class="clearfix">
                        <li class="filter" data-filter="all">All</li>
                        <li class="filter" data-filter="breakfast">Decor</li>
                        <li class="filter" data-filter="special">Special</li>
                        <li class="filter" data-filter="desert">Cake</li>
                        <li class="filter" data-filter="dinner">Outside</li>
                    </ul><!-- end #filter-list -->
                    <ul id="portfolio">
                        <li class="item breakfast desert">
                            <img src="images/cake1.jpg" style="height: 200px; width: 100%" alt="Food">
                            <p class="item_p">Birthday Cake</p>
                            <h2 class="white">R150+</h2>
                        </li>
                        <li class="item breakfast desert">
                            <img src="images/cake2.jpg" style="height: 200px; width: 100%" alt="Food">
                            <p class="item_p">Birthday Cake</p>
                            <h2 class="white">R150+</h2>
                        </li>

                        <li class="item breakfast dinner">
                            <img src="images/redCarpet.jpeg" style="height: 200px; width: 100%" alt="Food">
                            <p class="item_p">Color Carpets</p>
                            <h2 class="white">R400+</h2>
                        </li>
                        <li class="item special dinner">
                            <img src="images/gazebo.jpeg" style="height: 200px; width: 100%" alt="Food">
                            <p class="item_p">Gazebo</p>
                            <h2 class="white">R300</h2>
                        </li>
                        <li class="item special dinner">
                            <img src="images/chairs.jpeg" style="height: 200px; width: 100%" alt="Food">
                            <p class="item_p">Chairs and Tables</p>
                            <h2 class="white">R5+</h2>
                        </li>

                      
                    </ul>
                </div><!-- end #w -->
            </div>
        </div>
    </div>
</section>


<!-- ============ Our Beer  ============= -->

 
<section id="beer" class="description_content">
    <div class="beer background_content">
        <h1 class=" wow slideInRight" data-wow-duration="1.0s" data-wow-delay="0.1s">Enjoy Your <span>Event</span></h1>
    </div>
    <div class="text-content container">
        <div class="col-md-5 wow slideInUp" data-wow-duration="1.0s" data-wow-delay="0.2s" >
            <div class="img-section">
                <img src="images/reddecor.jpg" width="100%">
            </div>
        </div>
        <br>
        <div class="col-md-6 col-md-offset-1 wow slideInUp" data-wow-duration="1.0s" data-wow-delay="0s">
            <h1>OUR DECOR</h1>
            <div class="icon-cake fa-2x"></div>
            <p class="desc-text">We offer premium decoration by of our own highly trained team members for presenting the best experience for our customers</p>
        </div>
    </div>
</section>











<section id="beer" class="description_content">
    <div class="beer background_content" style="background: url('../images/F22.jpg') no-repeat center center;">
        <h1 class=" wow slideInRight" data-wow-duration="1.0s" data-wow-delay="0.1s">Funeral Catering <span>Scheme</span></h1>
    </div>
    <div class="text-content container">
       <div class="col-md-6 wow slideInLeft" data-wow-duration="1.0s" data-wow-delay="0.1s">
            <h1>Funeral Catering Scheme</h1>
           
            <p class="desc-text"> Catering Scheme supplies Gas Stoves, Pots, Crockery, Cutlery, Glasses, Plates, Food Warmers, Mobile kitchen, Mobile Fridge and Mobile Toilet, Tent 50 Chairs and 4 Tables or 20 Chairs and 1 Table prior Service, Preparation of Food and Serving, Cleaning of all Catering Equipment and the Preparation Area after Service.</p>
           <!--
            <img class="" style="width: 100%; height: 100%; margin-top: 10px;" src="images/FF1.jpg" />
           -->
        </div>
        <br>
       <div class="col-md-6 wow slideInLeft" data-wow-duration="1.0s" data-wow-delay="0.4s">
            <ul class="image_box_story2">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        
                      
                        
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="images/F1.jpg"  alt="...">
                            <div class="carousel-caption">
                                <h3>Sibahlenkosini</h3>
                            </div>
                        </div>
                        <div class="item">
                            <img src="images/FF2.jpg"  alt="...">
                            <div class="carousel-caption">
                                <h3>Sibahlenkosini</h3>
                            </div>
                        </div>

                        <div class="item">
                            <img src="images/F4.jpg"  alt="...">
                            <div class="carousel-caption">
                                <h3>Sibahlenkosini</h3>
                            </div>
                        </div>
                        
                      

                    </div>
                </div>
            </ul>
        </div>
    </div>
</section>







<!-- ============ Our Bread  ============= -->


<section id="bread" class=" description_content">
    <div class="bread background_content">
        <h1 class=" wow slideInLeft" data-wow-duration="1.0s" data-wow-delay="0.1s"><span>Premium</span> Table Set</h1>
    </div>
    <div class="text-content container">
        <div class="col-md-6 wow slideInLeft" data-wow-duration="1.0s" data-wow-delay="0.1s">
            <h1>OUR TABLE SET</h1>
           
            <p class="desc-text">We communicate prior with our customers on their preferences and our decor team recommends quality decor for the match of the customers preferences.</p>
        </div>
        <div class="col-md-6 wow slideInRight" data-wow-duration="1.0s" data-wow-delay="0.1s">
            <img src="images/tr1.jpg" width="260" alt="Bread">
            <img src="images/tr2.jpg" width="260" alt="Bread">
        </div>
    </div>
</section>



<!-- ============ Featured Dish  ============= -->

<section id="featured" class="description_content">
    <div class="featured background_content" style="background: linear-gradient(to bottom, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.3) 59%, rgba(0,0,0,0.1) 100%), url('images/txx.jpg') no-repeat center center; background-size: 100vw 100%;" >
        <h1 class=" wow slideInRight" data-wow-duration="1.0s" data-wow-delay="0.1s">Fast <span>Delivery</span></h1>
    </div>
    <div class="text-content container">
        <div class="col-md-6 wow slideInRight" data-wow-duration="1.0s" data-wow-delay="0.4s">
            <h1>Have a look to our cakes!</h1>
            <div class="icon-cake fa-2x"></div>
            <p class="desc-text">We offer premium cake design based on your preferences. Any design is possible, we have of our own a professional skilled team on the cake making industry </p>
        </div>
        <div class="col-md-6 wow slideInLeft" data-wow-duration="1.0s" data-wow-delay="0.4s">
            <ul class="image_box_story2">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="4"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="5"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="6"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="7"></li>
                        
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="images/cake1.jpg" style="height: 440px; width: 100%;" alt="...">
                            <div class="carousel-caption">
                                <h3>Sibahlenkosini</h3>
                            </div>
                        </div>
                        <div class="item">
                            <img src="images/cake2.jpg" style="height: 440px; width: 100%;" alt="...">
                            <div class="carousel-caption">
                                <h3>Sibahlenkosini</h3>
                            </div>
                        </div>

                        <div class="item">
                            <img src="images/cake3.jpg" style="height: 440px; width: 100%;" alt="...">
                            <div class="carousel-caption">
                                <h3>Sibahlenkosini</h3>
                            </div>
                        </div>
                        <div class="item">
                            <img src="images/cake4.jpg" style="height: 440px; width: 100%;" alt="...">
                            <div class="carousel-caption">
                                <h3>Sibahlenkosini</h3>
                            </div>
                        </div>
                        <div class="item">
                            <img src="images/cake5.jpg" style="height: 440px; width: 100%;" alt="...">
                            <div class="carousel-caption">
                                <h3>Sibahlenkosini</h3>
                            </div>
                        </div>
                        <div class="item">
                            <img src="images/cake6.jpg" style="height: 440px; width: 100%;" alt="...">
                            <div class="carousel-caption">
                                <h3>Sibahlenkosini</h3>
                            </div>
                        </div>
                        <div class="item">
                            <img src="images/cake7.jpg" style="height: 440px; width: 100%;" alt="...">
                            <div class="carousel-caption">
                                <h3>Sibahlenkosini</h3>
                            </div>
                        </div>
                        <div class="item">
                            <img src="images/cake8.jpg" style="height: 440px; width: 100%;" alt="...">
                            <div class="carousel-caption">
                                <h3>Sibahlenkosini</h3>
                            </div>
                        </div>

                    </div>
                </div>
            </ul>
        </div>
    </div>
</section>



<section id="featured" class="description_content">
    
    <div class="text-content container">

        <div class="col-md-6 wow slideInRight" data-wow-duration="1.0s" data-wow-delay="0.4s">
            <h1>Kids Party!</h1>
            <div class="icon-cake fa-2x"></div>
            <p class="desc-text">Sibahlenkosini offers a fun experience for kids with the host recommended decor, custom cake, kids transportation and special jumping castles.</p>
        </div>

        <div class="col-md-6 wow slideInLeft" data-wow-duration="1.0s" data-wow-delay="0.4s">
            <ul class="image_box_story2">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                       

                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="images/cp11.jpg" style="height: 440px; width: 100%;" alt="...">
                            <div class="carousel-caption">
                                <h3>Sibahlenkosini</h3>
                            </div>
                        </div>
                        <div class="item">
                            <img src="images/cp2.jpg" style="height: 440px; width: 100%;" alt="...">
                            <div class="carousel-caption">
                                <h3>Sibahlenkosini</h3>
                            </div>
                        </div>

                        <div class="item">
                            <img src="images/cp3.jpg" style="height: 440px; width: 100%;" alt="...">
                            <div class="carousel-caption">
                                <h3>Sibahlenkosini</h3>
                            </div>
                        </div>
                        <div class="item">
                            <img src="images/cp4.jpg" style="height: 440px; width: 100%;" alt="...">
                            <div class="carousel-caption">
                                <h3>Sibahlenkosini</h3>
                            </div>
                        </div>

                    </div>
                </div>
            </ul>
        </div>



    </div>
</section>

<!-- ============ Reservation  ============= -->

<section id="reservation" class="description_content">
    <div class="featured background_content" style="background: linear-gradient(to bottom, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.3) 59%, rgba(0,0,0,0.1) 100%), url('images/txx2.jpeg') no-repeat center center; background-size: 100vw 100%;">
       
        <h1 class=" wow bounceInRight" style="background: #000; color: darkgray;" data-wow-duration="1.0s" data-wow-delay="0.1s">Trusted Transpotation For <span>Kids</span></h1>

        
    </div>
    <div class="text-content container">
        <div class="inner contact">
            <!-- Form Area -->
            <div class="contact-form">
                <!-- Form -->
                <form id="contact-us" method="post" action="reserve.php">
                    <!-- Left Inputs -->
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 col-md-6 col-xs-12">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-xs-6">
                                        <!-- Name -->
                                        <input type="text" name="first_name" id="first_name" required="required" class="form" placeholder="Full Name" />
                                       
                                        <input type="text" name="state" id="state" required="required" class="form" placeholder="State" />
                                        <input type="text" name="datepicker" id="datepicker" required="required" class="form" placeholder="Reservation Date" />
                                    </div>

                                    <div class="col-lg-6 col-md-6 col-xs-6">
                                        <!-- Name -->
                                        <input type="text" name="phone" id="phone" required="required" class="form" placeholder="Phone" />
                                        
                                        <input type="email" name="email" id="email" required="required" class="form" placeholder="Email" />
                                        <input type="text" name="subject" id="subject" required="required" class="form" placeholder="What you want" />
                                    </div>

                                    <div class="col-xs-6 ">
                                        <!-- Send Button -->
                                        <button type="submit" id="submit" name="submit" class="text-center form-btn form-btn">Reserve</button>
                                    </div>

                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 col-xs-12">
                                <!-- Message -->
                                <div class="right-text">
                                    <h2>Hours</h2><hr>
                                    <p>Monday to Saturday: 8:00 AM - 7:30 PM</p>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Clear -->
                    <div class="clear"></div>
                </form>
            </div><!-- End Contact Form Area -->
        </div><!-- End Inner -->
    </div>
</section>

<!-- ============ Social Section  ============= -->

<section class="social_connect">
    <div class="text-content container">
        <div class="col-md-4">
            <span class="social_heading">FOLLOW</span>
            <ul class="social_icons">
                <li><a href="https://web.facebook.com/Sibahlenkosi-deco-and-cake-baking-103809661819244" target="_blank"><img src="~/images/facebook.png" /></a></li>
                <li><a  href="mailto:sbathetra@gmail.com" target="_blank"><img src="~/images/gmail.png" /> </a></li>
              
            </ul>
        </div>
        <div class="col-md-4">
            <span class="social_heading">OR DIAL</span>
            <span class="social_info"><a class="color_animation" href="tel:+2772-334-9611">(+27) 72-334-9611</a></span>
            <span class="social_info"><a class="color_animation" href="tel:+2773-870-7681">(+27) 73-870-7681</a></span>
            
        </div>
        <div class="col-md-4">
            <span class="social_heading">OR DIAL</span>
            <span class="social_info"><a class="color_animation" href="tel:+2784-351-9600">(+27) 84-351-9600</a></span>
            <span class="social_info"><a class="color_animation" href="tel:+2779-439-8703">(+27) 79-439-8703</a></span>
           

        </div>

        <div class="col-md-12">
            <span class="social_heading">Main</span>
            <span class="social_info"><a class="color_animation" href="tel:+2764-234-1287">(+27) 64-234-1287</a></span>
        </div>

    </div>
</section>

<!-- ============ Contact Section  ============= -->

<section id="contact">
    <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d892.4266522897015!2d29.091237829173128!3d-26.529558799063818!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1eeb15ab25fc21cd%3A0x53c0ac92a7775660!2s9696%2014th%20St%2C%20Embalenhle%2C%202285!5e0!3m2!1sen!2sza!4v1640495891324!5m2!1sen!2sza"  style="border:0; width: 100%; height: 80vh;" allowfullscreen="" loading="lazy"></iframe>  </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="inner contact">
                    <!-- Form Area -->
                    <div class="contact-form">
                        <!-- Form -->
                        <form id="contact-us" method="post" action="contact.php">
                            <!-- Left Inputs -->
                            <div class="col-md-6 ">
                                <!-- Name -->
                                <input type="text" name="name" id="name" required="required" class="form" placeholder="Name" />
                                <!-- Email -->
                                <input type="email" name="email" id="email" required="required" class="form" placeholder="Email" />
                                <!-- Subject -->
                                <input type="text" name="subject" id="subject" required="required" class="form" placeholder="Subject" />
                            </div><!-- End Left Inputs -->
                            <!-- Right Inputs -->
                            <div class="col-md-6">
                                <!-- Message -->
                                <textarea name="message" id="message" class="form textarea" placeholder="Message"></textarea>
                            </div><!-- End Right Inputs -->
                            <!-- Bottom Submit -->
                            <div class="relative fullwidth col-xs-12">
                                <!-- Send Button -->
                                <button type="submit" id="submit" name="submit" class="form-btn">Send Message</button>
                            </div><!-- End Bottom Submit -->
                            <!-- Clear -->
                            <div class="clear"></div>
                        </form>
                    </div><!-- End Contact Form Area -->
                </div><!-- End Inner -->
            </div>
        </div>
    </div>
</section>


